<div *ngIf="!taskId" class="container-fluid">
    <h2 class="alert alert-danger mt-2">No ID Found</h2>
</div>

<div *ngIf="taskId" class="container-fluid">
    <h2 class="text-center border-bottom border-primary border-5 pb-2">{{task.Title}}</h2>
    <input #taskTitle type="text" class="form-control" placeholder="Task Title" [(ngModel)]="task.Title">
    <textarea #taskDescription class="form-control mt-2" placeholder="Task Description" [(ngModel)]="task.Description"></textarea>
    <div class="d-flex justify-content-end">
        <button class="btn btn-success mt-2" (click)="editTask(taskTitle.value, taskDescription.value)">Save</button>
    </div>
</div>